.cv-main-wrapper {
    font-size: 16px;
    max-height: 100vh;
}

.cv-main {
    max-height: 90vh;
    max-width: 100vw;
    margin: 15px;
    column-count: 2;
    column-gap: 30px;
    column-fill: auto;
    overflow: auto;
}

.cv-section-title {
    text-transform: uppercase;
    border-bottom: 2px solid currentColor;
    padding: 5px;
}

.cv-main > * {
    min-width: 0;
    overflow-wrap: anywhere;
    white-space: normal;
    break-inside: avoid;
}

.cv-main h2 {
    margin: 0;
    margin-bottom: 15px;
}

.job-info-company {
    color: gray;
}

.job-info {
    margin: 20px 0;
}

.job-info h3 {
    margin: 0;
    font-size: 20px;
}

.cv-main-wrapper svg {
    width: 1em;
    height: 1em;
    padding: 2px;
}

.time-label > * {
    display: inline;
}

.cv-title {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    font-size: 24px;
}
