:root{
    --main-color: rgb(55, 55, 205);
    --bg-color: color-mix(in srgb, var(--main-color) 20%, #FFFFFF);
}

.cv-main-wrapper {
    font-size: 16px;
    max-height: 100vh;
}

.cv-main {
    display: flex;
    gap: 10px;
    margin: 20px;
}

.cv-column{
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 100%;
}

.cv-section-title {
    color: var(--main-color);
    text-transform: uppercase;
    border-bottom: 2px solid currentColor;
    padding: 5px;
}

.cv-section{
    background: var(--bg-color);
    padding: 15px;
    border-radius: 5px;
}

.cv-main > * {
    min-width: 0;
    overflow-wrap: anywhere;
    white-space: normal;
    break-inside: avoid;
}

.cv-main h2 {
    margin: 0;
    margin-bottom: 15px;
}

.job-info-company {
    color: gray;
}

.job-info {
    margin: 20px 0;
}

.job-info h3 {
    margin: 0;
    font-size: 20px;
}

.cv-main-wrapper svg {
    width: 1em;
    height: 1em;
    padding: 2px;
}

.time-label > * {
    display: inline;
}

.cv-title {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    font-size: 24px;
}
